h1{color: aquamarine;}
b{color: red;}
body{text-align: left;}
p.especial{color: greenyellow;}
h2{color: blue;}
span.vio{color: violet;}
u{color: green;}
span.na{color: orange;}
u.re{color: red;}
span.blu{color: blue;}
span.pur{color: purple;}
span.de{color: blue ;}
h3{color: orange;}
h3.es{color: red;}
span.car{color: aquamarine;}
span.fer{color: brown;}