img{width: 400px;
height: 250px;
border-radius: 5%;
display: block;
margin-left: auto;
margin-right: auto;}
body{background-color: aqua;}
section{background-color: aliceblue;
border-radius: 1%;
margin-left: 100px;
margin-right: 100px;}
p{color: blue;}
footer{text-align: center;
}